/* base.scss */

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

/* Body */
body {
  font: {
    family: futura-pt, Helvetica, Arial, sans-serif;
    size: 100%;
  }
  color: #fff;
  background: {
    image: url('img/bg_body.jpg');
    color: #0a090e;
    position: 50% 0;
    repeat: no-repeat;
    size: cover;
  }
}

/* Headings */
h1, h2, h3, h4 {
  font: {
    family: museo-slab, Georgia, Times, "Times New Roman", serif;
  }
}

/* Heading 1 */
h1 {
  font: {
    size: 2.375em; /* 38px */
  }
}

/* Heading 2 */
h2 {
  font: {
    size: 2em; /* 32px */
  }
}

/* Heading 3 */
h3 {
  font: {
    size: 1.625em; /* 26px */
  }
}

/* Heading 4 */
h4 {
  font: {
    size: 1.25em; /* 20px */
  }
}

/* Emphasis */
em { 
  font: {
    style: italic;
  }
}

/* Paragraph */
p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){

  body {
    background: {
      image: url('img/bg_body@2x.jpg');
    }  
  }

}