// Custom Styles

// MIXINS
@import 'mixins';
// BASE
@import 'base/base';
// LAYOUT
@import 'layout/layout';
@import 'layout/main';
@import 'layout/section';
// MODULES
@import 'module/buttons';
// VENDOR
@import 'vendor/font-awesome/font-awesome';

// Section
.section {
  background-repeat: no-repeat;

  // Hero Section
  &.section--hero {
    border-top: .5rem solid #ED9121;
    @include retina-image('../img/hero/kevin', cover);
    background-position: 50% 0;
  }

  // SolarCity Section
  &.section--scty {
    @include retina-image('../img/backgrounds/solar-panels', cover);
    background-position: 50% 50%;
  }

  // Wastebits Section
  &.section--wastebits {
    @include retina-image('../img/backgrounds/waste-barrel', cover);
    background-position: 50% 50%;
  }

  // AkronWiT Section
  &.section--akronwit {
    @include retina-image('../img/backgrounds/akronwit', cover);
    background-position: 50% 25%;
  }

  // Segmint Section
  &.section--segmint {
    @include retina-image('../img/backgrounds/billboards', cover);
    background-position: 50% 100%;
  }

  // Project Details Section
  &.section--project-details {
    color: #333;
    text-align: left;
  }

  // Footer Section
  &.section--footer {
    height: auto;

    font-size: 3rem;
  }

  // Section Heading
  .section--heading {
    font-size: 8rem;
  }
}

@media (max-width: 480px) {
  // Section
  .section {

    // Section Heading
    .section--heading {
      font-size: 4rem;
    }
  }
}
