// Custom Styles

// MIXINS
@import 'mixins';
// BASE
@import 'base/base';
// LAYOUT
@import 'layout/layout';
@import 'layout/main';
@import 'layout/section';
// MODULES
@import 'module/buttons';
// VENDOR
@import 'vendor/font-awesome/font-awesome';

// Section
.section {
  background-size: cover;

  // Hero Section
  &.section--hero {
    border-top: .5rem solid #ED9121;
    background: url('../img/hero/kevin.jpg') #000 50% 100% no-repeat;
  }

  // SolarCity Section
  &.section--scty {
    background: url('../img/backgrounds/solar-panels.jpg') 50% 50% no-repeat;
  }

  // Wastebits Section
  &.section--wastebits {
    background: url('../img/backgrounds/waste-barrel.jpg') 50% 50% no-repeat;
  }

  // AkronWiT Section
  &.section--akronwit {
    background: url('../img/backgrounds/akronwit.jpg') 50% 25% no-repeat;
  }

  // Segmint Section
  &.section--segmint {
    background: url('../img/backgrounds/billboards.jpg') 50% 100% no-repeat;
  }

  // Project Details Section
  &.section--project-details {
    color: #333;
    text-align: left;
  }

  // Footer Section
  &.section--footer {
    height: auto;

    font-size: 3rem;
  }

  // Section Heading
  .section--heading {
    font-size: 8rem;
  }
}

@media (max-width: 480px) {
  // Section
  .section {

    // Section Heading
    .section--heading {
      font-size: 4rem;
    }
  }
}
