// base.scss

// Body
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
}

// Headings
h1, h2, h3, h4 { font-family: 'Montserrat', sans-serif; }

a { text-decoration: none; }
