// buttons.scss

// Button
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    height: 48px;
    border-color: #fff;

    line-height: 48px;
    color: #000;
    background-color: rgba(255, 255, 255, .75);
}

@media (min-width: 480px) {
  // Button
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    height: 38px;
    line-height: 38px;
  }
}

// Hovered Buttons
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    border-color: #fff;
    color: #fff;
}
